html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #787878;
  background-color: #FFFFFF;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 20px 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  background-color: #10c9c3;
}

.button:hover, .button:focus {
  background-color: #1d1d1d;
}

input[type=text], input[type=email], input[type=password], textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 12px 20px;
  font-size: 15px;
  line-height: 24px;
  color: #787878;
  border: 1px solid transparent;
}

input[type=text]:hover, input[type=text]:focus, input[type=email]:hover, input[type=email]:focus, input[type=password]:hover, input[type=password]:focus, textarea:hover, textarea:focus {
  border: 1px solid #787878;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
}

.logo__img {
  display: block;
  width: 31px;
  height: 25px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__item:not(:last-child) {
  margin-right: 30px;
}

.site-navigation__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #191919;
  text-transform: uppercase;
}

.site-navigation__link_active {
  color: #10c9c3;
}

.site-navigation__link:hover {
  color: #10c9c3;
}

.banner {
  height: 670px;
  margin-top: -100px;
  background-color: #E9E9E9;
}

.banner__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner__wrap {
  width: 585px;
}

.banner__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #1d1d1d;
}

.banner__text {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
}

.about__wrap {
  min-height: 237px;
  padding-top: 93px;
  padding-bottom: 90px;
  text-align: center;
}

.about__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  color: #191919;
}

.about__text {
  width: 630px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.about__signature {
  width: 223px;
  height: 57px;
}

.skills {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f8f9f9), color-stop(50%, #e9e9e9));
  background: linear-gradient(90deg, #f8f9f9 50%, #e9e9e9 50%);
}

.skills__wrap {
  width: 585px;
  min-height: 260px;
  padding: 155px 0;
  background-color: #F8F9F9;
}

.skills__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #171717;
}

.skills__list {
  width: 500px;
  margin: 0;
  padding: 0;
}

.skills__subtitle {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.skills__interest {
  margin-left: 15px;
}

.skills__box {
  width: 100%;
  height: 3px;
  margin: 0;
  padding: 0;
  background-color: #D8D8D8;
}

.skills__box:not(:last-child) {
  margin-bottom: 30px;
}

.skills__line {
  display: block;
  width: 0%;
  height: 3px;
  background-color: #10c9c3;
}

.skills__line_65 {
  width: 65%;
}

.skills__line_75 {
  width: 75%;
}

.skills__line_90 {
  width: 90%;
}

.statistics {
  background-color: #10c9c3;
}

.statistics__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics__list {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1170px;
  min-height: 240px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.statistics__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  padding: 25px 0;
}

.statistics__svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

.statistics__wrap-text {
  margin: 0;
  margin-left: 25px;
  padding: 0;
}

.statistics__numbers {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.statistics__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.work__item {
  width: 25%;
  height: 300px;
}

.work__item:nth-child(1), .work__item:nth-child(3), .work__item:nth-child(6), .work__item:nth-child(8) {
  background-color: #838383;
}

.work__item:nth-child(2), .work__item:nth-child(4), .work__item:nth-child(5), .work__item:nth-child(7) {
  background-color: #DDDDDD;
}

.work__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.work__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/eye.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 48px 48px;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.work__link:hover::before {
  opacity: 1;
}

.work__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100px;
  color: #8e8e8e;
  background-color: #F5F5F5;
}

.work__button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.process {
  padding: 80px 0;
}

.process__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #191919;
  text-align: center;
}

.process__text {
  width: 520px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.video {
  position: relative;
  height: 571px;
  background-color: #E9E9E9;
}

.video__link {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.video__link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.video__link:hover .video__play {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.video__play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  height: 85px;
  background-color: #10c9c3;
  border-radius: 50%;
}

.services {
  min-height: 355px;
  padding: 40px 0 90px 0;
  background-color: #F5F5F5;
}

.services__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__list {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  width: 240px;
  margin-top: 50px;
  padding: 0 15px;
  text-align: center;
}

.services__svg {
  margin-bottom: 20px;
  fill: #656565;
}

.services__title {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #191919;
  text-transform: uppercase;
}

.services__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.testimonials {
  position: relative;
  padding-top: 175px;
  padding-bottom: 90px;
  height: 235px;
  background-color: #10C9C3;
}

.testimonials__blockquote {
  margin: 0;
}

.testimonials__paginations {
  position: absolute;
  left: 50%;
  bottom: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.quote {
  padding: 0;
  text-align: center;
}

.quote__text {
  display: block;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.quote__author {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 36px;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
}

.pagination__input:checked + .pagination__label {
  -webkit-transform: scale(1.65);
          transform: scale(1.65);
  background-color: #ffffff;
}

.pagination__label {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #B0E8E6;
  border-radius: 50%;
}

.clients {
  padding: 64px 0;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 72px;
  margin: 0;
  margin-bottom: -64px;
  padding: 0;
  list-style: none;
}

.clients__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 170px;
  margin-bottom: 64px;
}

.clients__img {
  display: block;
  margin: 0 auto;
}

.needproj {
  min-height: 561px;
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #F5F5F5;
  text-align: center;
}

.needproj__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1d1d1d;
}

.needproj__text {
  width: 540px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
}

.needproj__form {
  margin: 0 auto;
}

.needproj-form {
  width: 671px;
}

.needproj-form__inputs {
  margin-bottom: 30px;
}

.needproj-form__wrap-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.needproj-form__item {
  display: block;
  min-width: 320px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.needproj-form__area {
  display: block;
  margin: 0;
  padding: 0;
}

.needproj-form__textarea {
  height: 170px;
  resize: none;
}

.needproj-form__button {
  padding: 20px 35px;
}

.main-footer {
  min-height: 104px;
  padding: 90px 0;
  background-color: #141414;
}

.main-footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__copy {
  width: 270px;
  margin-right: 200px;
  font-size: 15px;
  line-height: 24px;
  color: #bcbcbc;
}

.main-footer__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.main-footer__info, .main-footer__nav, .main-footer__content-info, .main-footer__social {
  margin: 0;
}

.main-footer__info {
  margin-right: 100px;
}

.main-footer__nav {
  margin-right: 50px;
}

.main-footer__content-info {
  margin-right: auto;
}

.info {
  width: 200px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

.info__mail, .info__number {
  color: #bcbcbc;
}

.info__mail:hover, .info__mail:focus, .info__number:hover, .info__number:focus {
  text-decoration: underline;
}

.footer-nav, .content-info, .social {
  padding: 0;
  list-style: none;
}

.footer-nav__link, .content-info__link, .social__link {
  font-size: 15px;
  line-height: 24px;
  color: #bcbcbc;
}

.footer-nav__link:hover, .footer-nav__link:focus, .content-info__link:hover, .content-info__link:focus, .social__link:hover, .social__link:focus {
  text-decoration: underline;
}

.social {
  width: 100px;
}
/*# sourceMappingURL=style.css.map */