html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #787878;
  background-color: #FFFFFF;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
}

.logo__img {
  display: block;
  width: 31px;
  height: 25px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__item:not(:last-child) {
  margin-right: 30px;
}

.site-navigation__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #191919;
  text-transform: uppercase;
}

.site-navigation__link_active {
  color: #10c9c3;
}

.site-navigation__link:hover {
  color: #10c9c3;
}

.banner {
  height: 670px;
  margin-top: -100px;
  background-color: #E9E9E9;
}

.banner__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner__wrap {
  width: 585px;
}

.banner__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #1d1d1d;
}

.banner__text {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
}

.button {
  padding: 20px 45px;
  border: none;
  background-color: #10c9c3;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.button:hover {
  background-color: #1d1d1d;
}

.about__wrap {
  min-height: 237px;
  padding-top: 93px;
  padding-bottom: 90px;
  text-align: center;
}

.about__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  color: #191919;
}

.about__text {
  width: 630px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.about__signature {
  width: 223px;
  height: 57px;
}

.skills {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f8f9f9), color-stop(50%, #e9e9e9));
  background: linear-gradient(90deg, #f8f9f9 50%, #e9e9e9 50%);
}

.skills__wrap {
  width: 585px;
  min-height: 260px;
  padding: 155px 0;
  background-color: #F8F9F9;
}

.skills__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #171717;
}

.skills__list {
  width: 500px;
  margin: 0;
  padding: 0;
}

.skills__subtitle {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.skills__interest {
  margin-left: 15px;
}

.skills__box {
  width: 100%;
  height: 3px;
  margin: 0;
  padding: 0;
  background-color: #D8D8D8;
}

.skills__box:not(:last-child) {
  margin-bottom: 30px;
}

.skills__line {
  display: block;
  width: 0%;
  height: 3px;
  background-color: #10c9c3;
}

.skills__line_65 {
  width: 65%;
}

.skills__line_75 {
  width: 75%;
}

.skills__line_90 {
  width: 90%;
}
/*# sourceMappingURL=style.css.map */