$text-color: #787878
$text-color2: #10c9c3
$bg-color: #FFFFFF
    
body
    +nunito
    font-size: 12px
    font-weight: normal
    color: $text-color
    background-color: $bg-color

.container
    width: 1170px
    margin: 0 auto
    padding: 0 15px

.button
    padding: 20px 45px
    +montserrat
    font-size: 12px
    color: #ffffff
    text-transform: uppercase
    letter-spacing: 1px
    border: none
    background-color: $text-color2
    &:hover
        background-color: #1d1d1d