$text-color: #787878
$text-color2: #10c9c3
$bg-color: #FFFFFF
$time-animation: 0.3s
    
body
    +nunito
    font-size: 12px
    font-weight: normal
    color: $text-color
    background-color: $bg-color

.container
    width: 1170px
    margin: 0 auto
    padding: 0 15px

.button
    padding: 20px 45px
    +montserrat
    font-size: 12px
    color: #ffffff
    text-transform: uppercase
    letter-spacing: 1px
    cursor: pointer
    border: none
    background-color: $text-color2
    transition: background-color $time-animation
    &:hover, &:focus
        background-color: #1d1d1d

input[type=text], input[type=email], input[type=password], textarea
    box-sizing: border-box
    display: block
    width: 100%
    padding: 12px 20px
    font-size: 15px
    line-height: 24px
    color: $text-color
    border: 1px solid transparent
    transition: border $time-animation
    &:hover, &:focus
        border: 1px solid $text-color